@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

/* Table of Contents

0. Basic css reset
1. CSS Custom Properties
2. Navbar & Header
3. Global styling
4. Hero section
x. Footer

Table of Contents */


/* 0. START of Reset */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
/* END of Reset */


/* 1. START CSS Custom Properties */
:root{
  --primary-color: rgb(50, 45, 57);
  --toupe-color: rgb(139, 135, 143);
  --timber-color: rgb(211, 208, 203);
  --accent-color: rgb(133, 112, 171);
  --background-color: rgb(236, 235, 230);
}
/* END CSS Custom Properties */


/* 2. START Navbar & Header */
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 5em;
  width: 100%;
  background: var(--background-color);
  border-bottom: var(--timber-color);
  z-index: 1;
}
nav ul{
  display: flex;
}
nav ul a{
  font-size: 1.4em;
  font-family: 'Alegreya', Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
  color: var(--primary-color);
  padding: 0em 0.5em;
  text-decoration: none;
}
nav a:hover{
  text-decoration: underline;
}
nav a:active{
  opacity: 0.6;
}
/* END Navbar & Header */


/* 3. START of Global styling */
::selection{
  color: var(--background-color);
  background: var(--accent-color);
}

body, html {
  line-height: 1.5;
  font-size: 1em;
  color: var(--primary-color);
  background: var(--background-color);
  font-family: "IBM Plex Mono", "Helvetica", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  scroll-margin-top: 10em;
  margin-bottom: 6em;
  width: 80%;
  max-width: 1200px;
}
article{
  width: 100%;
}
h2, h3{
  font-family: 'Alegreya', 'Vollkorn', Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
}

a{
  color: var(--accent-color);
  text-decoration: none;
  transition: transform 0.1s, background-color 0.2s ease; 
}
a:hover{
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 0.4em;
}
a:active{
  opacity: 0.6;
}


.vertical-split{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 1em;
}
.vertical-left{
}
.vertical-left-big{
  width: 600px;
}
.vertical-right{

}
.vertical-right-big{
  width: 600px;
}
/* END of Global styling */

/* START of Hero section */
#hero{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  margin-bottom: 20em;
}


/* END of Hero section */


/* START of About Me */
#about-me-left{
}
#about-me-right{
}
#my-picture-container{
  width: 220px;
  height: 350px;
  background-position-x: center;
  background-size: cover;
  background-image: url('niklas-edited-vintage.jpg');
  transform: scaleX(-1);
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  margin-right: 2em;
}
/* END of About Me */

.clip-path{
  clip-path: polygon(40% 2%, 46% 1%, 55% 2%, 63% 2%, 69% 3%, 75% 5%, 84% 8%, 86% 9%, 82% 12%, 93% 15%, 90% 18%, 95% 24%, 96% 26%, 97% 28%, 94% 30%, 94% 33%, 96% 38%, 96% 40%, 95% 45%, 97% 48%, 99% 50%, 97% 56%, 97% 62%, 95% 64%, 96% 68%, 92% 71%, 95% 75%, 92% 79%, 93% 84%, 84% 86%, 85% 91%, 76% 95%, 68% 97%, 60% 100%, 51% 98%, 42% 97%, 33% 93%, 26% 91%, 23% 84%, 19% 80%, 20% 75%, 20% 70%, 16% 64%, 19% 59%, 14% 55%, 14% 50%, 9% 46%, 14% 40%, 8% 36%, 12% 31%, 8% 27%, 10% 22%, 8% 18%, 12% 13%, 11% 6%, 22% 4%, 30% 1%);
}

/* START of Project Cards */
.project-card-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.project-card{
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 10.5em;
  height: 18em;
  background-color: var(--background-color);
  border: 1px solid var(--toupe-color);
  border-radius: 10px;
  padding: 1em;
}
.project-card:hover{
  background-color: rgb(218, 165, 191);
  color: rgb(67, 29, 67);
  border-bottom: 2px solid;
  border-right: 2px solid;
}
.project-card:active{
  opacity: 0.95;
  background-color: rgb(218, 165, 191);
  color: rgb(67, 29, 67);
}
.project-icon-container{
  height: 35%;
  font-size: 1.5em;
}

.project-card-header{
  font-family: Alegreya, Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 1em;
}
.project-card-body{
  font-size: 0.8em;
}



/* END of Project Cards */


/* x. START of Footer */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "IBM Plex Mono", "Montserrat", "Helvetica", sans-serif;
  height: 12em;
  background-color: var(--timber-color);
}
.socials-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-button,
.socials-button:visited{
  width: 45px;
  height: 45px;
  color: var(--toupe-color);
  font-size: 2em;
  cursor: pointer;
  padding-right: 1em;
}
.socials-button:hover{
  color: var(--primary-color);
  opacity: 0.8;
}
.socials-button:active{
  opacity: 0.4;
}
/* END of Footer */