@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

/* Table of Contents

0. Basic css reset
1. CSS Custom Properties
2. Navbar & Header
3. Global styling
x. Footer

Table of Contents */


/* 0. START of Reset */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
/* END of Reset */


/* 1. START CSS Custom Properties */
:root{
  --primary-color: rgb(50, 45, 57);
  --toupe-color: rgb(139, 135, 143);
  --timber-color: rgb(211, 208, 203);
  --accent-color: rgb(133, 112, 171);
  --background-color: rgb(236, 235, 230);
}
/* END CSS Custom Properties */


/* 2. START Navbar & Header */
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 5em;
  width: 100%;
  background: var(--background-color);
  border-bottom: var(--timber-color);
  z-index: 1;
}
nav ul{
  display: flex;
}
nav ul a{
  font-size: 1.4em;
  font-family: 'Alegreya', Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
  color: var(--primary-color);
  padding: 0em 0.5em;
  text-decoration: none;
}
nav a:hover{
  text-decoration: underline;
}
nav a:active{
  opacity: 0.6;
}
/* END Navbar & Header */


/* 3. START of Global styling */
::selection{
  color: var(--background-color);
  background: var(--accent-color);
}

body, html {
  line-height: 1.5;
  font-size: 1em;
  color: var(--primary-color);
  background: var(--background-color);
  font-family: "IBM Plex Mono", "Helvetica", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  scroll-margin-top: 10em;
  margin-bottom: 6em;
  width: 100%;
}
article{
  max-width: 600px;
}
h2, h3{
  font-family: 'Alegreya', 'Vollkorn', Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
}

a{
  color: var(--accent-color);
  text-decoration: none;
  transition: transform 0.1s, background-color 0.2s ease; 
}
a:hover{
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 0.4em;
}
a:active{
  opacity: 0.6;
}
/* END of Global styling */


/* START of Project Cards */
.project-card-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.project-card{
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 10.5em;
  height: 18em;
  background-color: var(--background-color);
  /* border-top: 2px solid var(--toupe-color);
  border-left: 2px solid var(--toupe-color);
  border-right: 2px solid var(--toupe-color);
  border-bottom: 2px solid var(--toupe-color); */
  border: 1px solid var(--toupe-color);
  border-radius: 10px;
  padding: 1em;
}
.project-card:hover{
  background-color: rgb(218, 165, 191);
  color: rgb(67, 29, 67);
  border-bottom: 2px solid;
  border-right: 2px solid;
}
.project-card:active{
  opacity: 0.95;
  background-color: rgb(218, 165, 191);
  color: rgb(67, 29, 67);
}
.project-icon-container{
  height: 35%;
  font-size: 1.5em;
}

.project-card-header{
  font-family: Alegreya, Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 1em;
}
.project-card-body{
  font-size: 0.8em;
}



/* END of Project Cards */


/* x. START of Footer */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "IBM Plex Mono", "Montserrat", "Helvetica", sans-serif;
  height: 12em;
  background-color: var(--timber-color);
}
.socials-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-button,
.socials-button:visited{
  width: 45px;
  height: 45px;
  color: var(--toupe-color);
  font-size: 2em;
  cursor: pointer;
  padding-right: 1em;
}
.socials-button:hover{
  color: var(--primary-color);
  opacity: 0.8;
}
.socials-button:active{
  opacity: 0.4;
}
/* END of Footer */