@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

/* Table of Contents

0. Basic css reset
1. CSS Custom Properties
2. Navbar & Header
3. Global styling
4. Hero section
5. About me
6. Skills / Knowledge
7. Projects
8. Contact
x. Footer
y. Buttons

Table of Contents */


/* 0. START of Reset */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
/* END of Reset */


/* 1. START CSS Custom Properties */
:root{
  --primary-color: rgb(50, 45, 57);
  --primary-color-faded: rgb(105, 102, 109);
  --toupe-color: rgb(139, 135, 143);
  --timber-color: rgb(211, 208, 203);
  --accent-color: rgb(133, 112, 171);
  --background-color: rgb(236, 235, 230);
  --formular-background-color: whitesmoke;
  --formular-background-color-active: white;
  --body-font: 'IBM Plex Mono', Helvetica, sans-serif;
  --headers-font: Alegreya, Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
  --hero-cards-font: Vollkorn, Alegreya, serif;


}
/* END CSS Custom Properties */


/* 2. START Navbar & Header */
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 5em;
  width: 100%;
  background: var(--background-color);
  border-bottom: var(--timber-color);
  z-index: 1;
}
nav ul{
  display: flex;
}
nav ul a{
  font-size: 1.4em;
  font-family: var(--headers-font);
  color: var(--primary-color);
  padding: 0em 0.5em;
  text-decoration: none;
}

    /* START Länkar i navbar. Kopplat till JS-styling */
    #navbar a {
      position: relative;
      text-decoration: none;
    }

    #navbar a::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -0.5em;
      width: 40px;
      height: 2px;
      background-color: currentColor;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    #navbar a:hover::after {
      opacity: 1;
    }
    /* END Länkar i navbar. Kopplat till JS-styling */


    /* START Navbar. Kopplat till JS-styling. */
    #navbar {
      box-sizing: border-box;
      z-index: 1000;
      position: fixed;
      opacity: 1;
      transform: translateY(0);
      transition: top 0.3s ease, opacity 0.3s ease;
    }
    /* END Navbar. Kopplat till JS-styling. */

/* END Navbar & Header */


/* 3. START of Global styling */
::selection{
  color: var(--background-color);
  background: var(--accent-color);
}

a{
  color: var(--accent-color);
  text-decoration: none;
  transition: transform 0.1s, background-color 0.2s ease; 
}
a:hover{
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 0.4em;
}
a:active{
  opacity: 0.6;
}
h2, h3{
  font-family: var(--headers-font);
}

body, html {
  line-height: 1.5;
  font-size: 1em;
  color: var(--primary-color);
  background: var(--background-color);
  font-family: var(--body-font);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  scroll-margin-top: 10em;
  margin-bottom: 6em;
  width: 100%;
  max-width: 1920px;
}
article{
  width: 100%;
}

ul li::marker{
  color: var(--accent-color);
}

.no-split{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 1em;
}
.centered-content{
  width: 852px;
}

.vertical-split{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 1em;
}
.vertical-left{
}
.vertical-left-big{
  width: 600px;
}
.vertical-right{

}
.vertical-right-big{
  width: 600px;
}

.linebreak{
  height: 1px;
  background-color: var(--accent-color);
  width: 12em;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

/* END of Global styling */

/* 4. START of Hero section */
#hero{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  margin-bottom: 20em;
}
#hero::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/bg_Gemini_Generated_Image_dshrlkdshrlkdshr.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.07;
  z-index: -1;
  pointer-events: none;
}
  .hero-top{
    height: 55%;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 2;
  }

  /* Top Left*/
    .hero-cards-container{
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      justify-content: center;
      font-weight: bold;
      width: 13em;
      height: 20em;
      font-size: 1.5em;
    }
    .hero-cards-container span {
      font-family: var(--hero-cards-font);
      display: inline-block;
      opacity: 0;
      animation: fallDown 0.45s ease forwards;
      padding: 0.5em 1.1em;
    }

    @keyframes fallDown {
      0% {
        opacity: 0;
        transform: translateY(-100px) rotate(0deg); /* Starta utan rotation */
      }
      100% {
        opacity: 1;
        transform: translateY(0) rotate(var(--rotation, 0deg)); /* Behåll rotationen */
      }
    }

    .rotate-10-pos {
      --rotation: 10deg;
    }
    .rotate-10-neg {
      --rotation: -10deg;
    }
    .rotate-22-pos {
      --rotation: 22deg;
    }
    .rotate-22-neg {
      --rotation: -22deg;
    }
    .background-on-accent{
      color: var(--background-color);
      background-color:var(--accent-color);
    }
    .primary-on-timber{
      color: var(--primary-color);
      background-color: var(--timber-color);
    }

  /* Top Right*/
  .hero-right{
    display:flex;
    flex-flow: wrap column;
  }
    .my-name-container{
      color: var(--primary-color);
      width: 22em;
      margin-left: 2em;
      opacity: 1;
    }
    .my-name{
      font-family: var(--headers-font);
      font-size: 5em;
      line-height: 1.2em;
      letter-spacing: -2px;
    }
    .hero-subheader{
      color: var(--primary-color-faded);
      margin-top: 2em;
      margin-left: 2em;
      width: 22em;
    }

    /* Bottom */




/* END of Hero section */


/* 5. START of About Me */
#about-me-left{
  width: 220px;
  height: 350px;
  background-position-x: center;
  background-size: cover;
  background-image: url('niklas-edited-vintage.jpg');
  transform: scaleX(-1);
  margin-right: 2em;
}

.clip-path{
  clip-path: polygon(12% 4%, 98% 2%, 94% 85%, 12% 88%);
}

#about-me-right{
}

/* END of About Me */

/* 6. START of Skills section */
#skills-right{
  width: 220px;
  height: 350px;
  margin-left: 2em;
}

#skills-left{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.icon{
  width: 75px;
  height: 75px;
}

/* END of Skills section */

/* 7. START of Projects */
#project-left{
  width: 220px;
  height: 350px;
  /* background-position-x: center;
  background-size: cover;
  background-image: url('niklas-edited-vintage.jpg');
  transform: scaleX(-1);
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px; */
  margin-right: 2em;
}


#project-right{
}

    /* START of Project Cards */
    .project-card-container{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    .project-card{
      display: flex;
      flex-direction: column;
      margin: 1em;
      width: 10.5em;
      height: 18em;
      background-color: var(--background-color);
      border: 1px solid var(--toupe-color);
      border-radius: 10px;
      padding: 1em;
    }
    .project-card:hover{
      background-color: rgb(218, 165, 191);
      color: rgb(67, 29, 67);
      border-bottom: 2px solid;
      border-right: 2px solid;
    }
    .project-card:active{
      opacity: 0.95;
      background-color: rgb(218, 165, 191);
      color: rgb(67, 29, 67);
    }
    .project-icon-container{
      height: 35%;
      font-size: 1.5em;
    }

    .project-card-header{
      font-family: var(--headers-font);
      font-size: 1.1em;
      font-weight: 500;
      margin-bottom: 1em;
    }
    .project-card-body{
      font-size: 0.8em;
    }
    /* END of Project Cards */


/* END of Projects */

/* 8. START of Contact */
.formular-body{
  margin-bottom: 1em;
}
.contact-options {
  padding-left: 1em;
  list-style: disc;
}
.contact-options li {
  padding-bottom: 0.5em;
}

form{
  text-align: left;
  margin-top: 1.2em;
}
input,
textarea{
  font-size: 0.9em;
  color: var(--primary-color);
  font-family: "IBM Plex Mono", "Helvetica", sans-serif;
  border: 1px var(--primary-color) solid;
  background-color: var(--formular-background-color);
  padding: 0.6em;
  border-radius: 10px;
  margin-bottom: 1.6em;
}
input:focus,
textarea:focus{
  outline: transparent;
  background-color: var(--formular-background-color-active);
  border-bottom: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
}

.formular-container{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
}

.formular-top{
  width: 63%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; /* Vill kunna köra space between för bättre mobilanpassning */
}
    .formular-top-left{
      min-width: 190px;
      width: 40%;
    }
    .formular-top-right{
      min-width: 300px;
      width: 55%;
    }
    .text-input{
      width: 100%;
    }

.textarea{
  resize: vertical;
  width: 63%;
  min-width: 300px;
  max-width: 100%;
  min-height: 10em;
}

.obligatory{
  margin-top: 2em;
  font-size: 0.8em;
}
/* END of Contact */


/* x. START of Footer */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--body-font);
  height: 12em;
  background-color: var(--timber-color);
}
.socials-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* x. END of Footer */


/* START of Buttons */
.socials-button,
.socials-button:visited{
  width: 45px;
  height: 45px;
  color: var(--toupe-color);
  font-size: 2em;
  cursor: pointer;
  padding-right: 1em;
}
.socials-button:hover{
  color: var(--primary-color);
  opacity: 0.8;
}
.socials-button:active{
  opacity: 0.4;
}
/* END of Buttons */
